*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}
.login-form{
    width: 250px;
}


.text{
    display: flex;
    justify-content: center;
}
.color-buton{
    background-color: blue;
    color: #fff;
    padding: 4px 100px;
    border: none;
    border-radius: 9px;
    
}
.text{
    display: flex;
    align-items: center;
    
}
.icon{
    display: flex;
    gap: 5px;
}
.input-text{
    gap: 10px;
}
.login-form{
    border: 10px;
    
}
.box-end{
    border: ;
}
























